# Keystatic GitHub módhoz a Netlify környezeti változói között is add meg ezeket.
KEYSTATIC_GITHUB_REPO=GuzuSoftware/mentasolar.hu
KEYSTATIC_GITHUB_CLIENT_ID=
KEYSTATIC_GITHUB_CLIENT_SECRET=
KEYSTATIC_SECRET=
PUBLIC_KEYSTATIC_GITHUB_APP_SLUG=
